<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Calender</a>
        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/calender-list']">Reminders List</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/calender']">Add Reminder</a>
            </li>
        </ul>

        <div *ngIf="loggedIn()" class="dropdown" dropdown>
            <a class="dropdown-toggle  text-white" dropdownToggle>
                Welcome
            </a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item text-white" (click)="logout()" style="cursor: pointer;">
                    Sign Out
                </a>
            </div>
        </div>

        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">

            <input type="text" name="username" id="username" class="form-control mr-sm-2" placeholder="Username"
                required [(ngModel)]="model.username" />

            <input type="password" name="password" id="password" class="form-control mr-sm-2" placeholder="Password"
                required [(ngModel)]="model.password" />
            <button type="submit" class="btn btn-success my-2 my-sm-0">Sign In</button>
        </form>
    </div>
</nav>